<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<!-- Site Title-->
    <title>Error page</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/gral/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Changa+One:400,400i%7CGrand+Hotel%7CLato:300,400,400italic,700">
    <link rel="stylesheet" type="text/css" href="css/stylenew.css" media="screen">
</head>
<body class="one-screen-page bg-image-error">
	<div class="page text-center">
		<!-- Page Header-->
		<header class="page-head">
			<a href="index.html" class="rd-navbar-brand brand">
				<div class="brand-logo"> 
					<img src="img/gral/logo-error.png" width="75%" height="75%"> 
				</div>
			</a>
			<h4 ><span th:text="${error}"></span> - <span th:text="${status}"></span></h4>
		</header>
		<!-- Page Content-->
		<main class="page-content">
			<section>
			  <div class="shell">
			    <div class="range range-condensed range-xs-center">
			      <div class="cell-sm-10 cell-lg-6">
			        <h4 class="font-default">Lo sentimos, página no disponible</h4>
			        <hr class="hr divider-sm bg-primary-lighter">
			        <p class="text-extra-large text-light">500</p>
			        <div class="group-lg offset-top-30"><a href="index.html" class="btn btn-primary btn-shape-circle btn-icon-left btn-icon"><span class="icon text-middle mdi mdi-arrow-left text-black"></span><span class="text-black">Volver al inicio</span></a><a href="contacts.html" class="btn btn-white-outline btn-shape-circle btn-icon-left btn-icon"><span class="icon text-middle mdi mdi-email-outline"></span><span>Contáctanos</span></a></div>
			      </div>
			    </div>
			  </div>
			</section>
		</main>
		<!-- Page Footer-->
		<footer class="page-foot text-center">
			<span th:text="${message}">Message</span><br/> 
			<span th:text="${exception}">Trace</span><br/>			
			<div class="primary-footer">
					<div class="container">
						<div class="row">
						</div>
					</div>
				</div>
				<div class="secondary-footer">
					<span class="copy-right" th:utext="#{footer.copyright}">Copyright © 2020 - VGM Sistemas. Todos los derechos reservados.</span>
				</div>
		</footer>
	</div>
</body>
</html>